$primaryColor: #287feb;

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0 10%;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  li {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
  }
  a {
    text-decoration: none;
    font-size: 1.5rem;
    color: $primaryColor;
    &:hover {
      font-size: 1.6rem;
      text-decoration: underline;
    }
  }
}

.logo {
  font-size: 2rem;
  color: $primaryColor;
  font-weight: bold;
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  background-color: $primaryColor;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  li {
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
  }
  a {
    text-decoration: none;
    font-size: 1.5rem;
    color: $primaryColor;
  }
}
